html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-wrap {
  overflow: hidden;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

body {
  margin: 0;

  background-color: #fafafa;
  position: relative;
  font-family: var(--font1);
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 876px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
